## Postwork 04: Análisis Exploratorio de nuestro Dataset

A continuación se presentan algunas preguntas y su respectiva respuesta (para quien no desee adentrarse demasiado en el código, pero todas las respuestas se justifican abajo):

1. __¿El conjunto de datos que tengo realmente me sirve para responder algunas de las preguntas que me planteé?__ Sí, pues cuenta con una columna de fecha, otras con longitudes y latitudes (para poder tener idea de la localización geográfica) así como una columna de magnitudes.

2. __¿Qué tamaño tiene mi conjunto de datos? ¿Serán datos suficientes?__ El dataset completo tiene una dimensión de 23,412 registros y 21 columnas. Considerando que las columnas que son de interés están completas, se puede ver que son datos suficientes.

3. __¿Qué columnas tengo y qué información tengo en cada una de esas columnas?__ Las columnas relevantes son _Date_ (fecha del evento), _Latitude_ (latitud), _Longitud_ (longitud), _Type_ (si el temblor detectado es un terremoto o fue causado por algún otro tipo de evento), _Magnitude_ (magnitud del sismo), _Magnitude Type_ (qué sistema para determinar la magnitud se usó) y _Depth_(la profundidad del hipocentro).

4. __Los nombres que tienen mis columnas, ¿son el nombre más apropiado?__ Sí, entre los nombres y los datos, es sencillo comprender la base de datos.

5. __¿Qué tipos de datos tengo en cada columna? ¿Parecen ser el tipo correcto de datos? ¿O es un tipo de datos "incorrecto"?__ _Date_ tiene formato de string, entonces será oportuno cambiar el formato a fecha. _Latitude_, _Longitud_, _Magnitude_ y _Depth_ tienen formato de float, que es apropiado. Tanto _Type_ como _Magnitude Type_ tienen formato de string, que tiene sentido, sin embargo, _Type_ puede usarse para un filtro para sólo analizar terremotos.

6. __Si selecciono algunas filas al azar y las observo, ¿estoy obteniendo los datos que debería? ¿O hay datos que parecen estar "sucios" o "incorrectos"?__ Hay muchos NaNs, pero no en las columnas que son interesantes. Las columnas irrelevantes se quitarán para el análisis posterior.

Primero se lee el dataframe, en este caso, se lee desde GitHub, pues se cargó previamente al repositorio. (Para ver cómo usarlo sin descargarlo, puede consultar el __Postwork 6__).

In [ ]:
import pandas as pd

In [ ]:
#Se toma el dataset desde el repositorio de github (desde el raw)
url = "https://raw.githubusercontent.com/gilesitorr/DataScience3_Bloque3/main/Postwork_3/database.csv"
df = pd.read_csv(url)

Puede notarse que el dataset cuenta con una columna de fechas, de magnitudes así como de latitud y longitud. Por lo tanto, es útil para responder las preguntas que se plantearon.

In [ ]:
df

             Date      Time  ...  Magnitude Source     Status
0      01/02/1965  13:44:18  ...            ISCGEM  Automatic
1      01/04/1965  11:29:49  ...            ISCGEM  Automatic
2      01/05/1965  18:05:58  ...            ISCGEM  Automatic
3      01/08/1965  18:49:43  ...            ISCGEM  Automatic
4      01/09/1965  13:32:50  ...            ISCGEM  Automatic
...           ...       ...  ...               ...        ...
23407  12/28/2016  08:22:12  ...                NN   Reviewed
23408  12/28/2016  09:13:47  ...                NN   Reviewed
23409  12/28/2016  12:38:51  ...                US   Reviewed
23410  12/29/2016  22:30:19  ...                US   Reviewed
23411  12/30/2016  20:08:28  ...                US   Reviewed

[23412 rows x 21 columns]

El tamaño del dataset

In [ ]:
 df.shape

(23412, 21)

Para saber más

In [ ]:
df.head(5)

         Date      Time  Latitude  ...  Location Source Magnitude Source     Status
0  01/02/1965  13:44:18    19.246  ...           ISCGEM           ISCGEM  Automatic
1  01/04/1965  11:29:49     1.863  ...           ISCGEM           ISCGEM  Automatic
2  01/05/1965  18:05:58   -20.579  ...           ISCGEM           ISCGEM  Automatic
3  01/08/1965  18:49:43   -59.076  ...           ISCGEM           ISCGEM  Automatic
4  01/09/1965  13:32:50    11.938  ...           ISCGEM           ISCGEM  Automatic

[5 rows x 21 columns]

In [ ]:
df.tail(5)

             Date      Time  ...  Magnitude Source    Status
23407  12/28/2016  08:22:12  ...                NN  Reviewed
23408  12/28/2016  09:13:47  ...                NN  Reviewed
23409  12/28/2016  12:38:51  ...                US  Reviewed
23410  12/29/2016  22:30:19  ...                US  Reviewed
23411  12/30/2016  20:08:28  ...                US  Reviewed

[5 rows x 21 columns]

In [ ]:
df.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [ ]:
df.columns

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')